.App {
  text-align: center;
}

.App code {
  padding: 4px 8px;
  border-radius: 4px;
  background: #FFF3;
}

.App p {
  margin: 0.4rem;
}

.App-logo {
  height: 20vmin;
  margin-bottom: 3rem;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282C34;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61DAFB;
}
